
nav {
    background-color: aliceblue;
}

nav {
    background-color: #aa3450;
}

main {
    min-height: calc(100vh - 104px);
}


footer {
    background-color: #7d6567;
    color: white;
    padding: 12px 0 12px 0;
    text-align: center;
}